main{

    width:min(1300px,95%);

    margin:auto;

}

.top-section{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:2rem;

    margin:2rem 0;

}

.latest-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:2rem;

}