@media(max-width:992px){

.top-section{

grid-template-columns:1fr;

}

.latest-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.latest-grid{

grid-template-columns:1fr;

}

.hero-title{

font-size:1.5rem;

}

}

.featured-card{
    grid-template-columns:1fr;
}

.featured-image img{
    height:300px;
}

@media(max-width:992px){

.navbar-container{

flex-direction:column;

gap:1rem;

}

.search-input{

width:180px;

}

}

@media(max-width:768px){

.category-container{

gap:1rem;

}

.small-card{

flex-direction:column;

align-items:flex-start;

}

.small-card-image{

width:100%;

}

.small-card-image img{

height:180px;

}

}